@media screen and (min-width: 768px) and (max-width: 1200px) {
   /*media queries tablette */
   h1{
       color: red;
   }
   .card-aside , .card , .container {
        width: 48%;
    }
    .third , .twothird , .activite {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .activite {
        flex-direction: initial;
    }
}


@media screen and (min-width: 1201px) and (max-width: 1920px){
    h1{
        color: green;
    }
    .menu {
        width: 30%;
        margin-top: -21px;
        margin-right: 10px;
    }
    .logocontainer {
        flex-direction: inherit;
        margin-top: 19px;
    }
    .logo img {
        width: 20%;
        height: 37px;
        margin-top: -12px;
        margin-left: 11px;
    }
    #hebergement {
        border-top: 2px solid #0065fc;
        padding-top: 15px;
        border-bottom: none;
    }
    .activities {
        border-bottom: none;
    }
    #inscription {
        display: block;
        position: inherit;
    }
    .third {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        width: 30%;
        float: right;
    }
    .twothird {
        display: inline-block;
        column-count: 2;
        width: 65%;
    }
    .activite{
        flex-direction: initial;
        flex-wrap: wrap;
    }
    .footer {
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
    }
    .footer_section {
        padding: 32px 32px;
    }
}