@media screen and (min-width: 768px) and (max-width: 1200px) {
   /*media queries tablette */
   .card-aside , .card {
        width: 48%;
    }
    .container {
        width: 100%;
    }
    .third , .twothird , .activite {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .twothird_act {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .activite {
        flex-direction: initial;
    }

    #colone_1 , #colone_2 , #colone_3 , #colone_4 {
        width: 48%;
    }
    #colone_2 {
        order: 1;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
    width: 350px;
}

    
}
@media screen and (min-width: 1201px) and (max-width: 1980px){
    /* vue desktop */
    .menu {
        width: 30%;
        margin-top: -23px;
        margin-right: 10px;
        border-bottom: none;
    }
    .logocontainer {
        flex-direction: inherit;
        margin-top: 19px;
    }
    .logo img {
        width: 20%;
        height: 37px;
        margin-top: -12px;
        margin-left: 11px;
    }
    #pseudo {
        width: 55%;
        display: inline-block;
    }
    .visible {
        display: none;
    }
    .bouton {
        visibility: visible;
        width: 28%;
        display: inline-block;
    }
    .filtres_title {
        width: 0%;
    }
    #hebergement {
        border-top: 2px solid #0065fc;
        padding-top: 15px;
        border-bottom: none;
    }
    .activities {
        border-bottom: none;
    }
    #inscription {
        display: block;
        position: inherit;
    }
    .third {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        width: 30%;
        float: right;
        border-radius: 25px;
        margin-right: 20px;
    }
    .img-border-radius-aside {
        height: 143px;
    }
    .twothird {
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #f2f2f2;
        border-radius: 25px;
        margin-left: 10px;
    }
    .card {
        width: 32%;
    }
    .activite {
        flex-direction: initial;
        flex-wrap: wrap;
    }
    .footer {
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
    .footer_section {
        padding: 32px 32px;
    }
    .act_photo {
        width: 480px;
    }
    .act_photo .taille1 {
        height: 500px;
    }
    .act_photo .taille2 {
        height: 220px;
    }
    .act_photo .taille3 {
        height: 195px;
    }
    .act_photo .taille5 {
        height: 220px;
    }
    .act_photo .taille6 {
        height: 195px;
    }
    .colone_1 {
        float: right;
        height: 500px;
    }
    .container {
        padding-bottom: 30px;
    }
}
