@font-face {
  font-family: "Raleway";
  src: url('./Raleway-VariableFont_wght.ttf')  
  }

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 0;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

}
h1 
{
  margin: 5px;
}
h2 {
  width: 100%;
  font-size: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
h3 {
  font-size: 15px;
  margin-top: -3px;
}

footer {
  display: grid;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;
  background-color: #f2f2f2;
}
#annonce p {
  font-size: 13px;
  margin-top: -4px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.footer_section {
  font-size: 19px;
  margin-top: -20px;
  margin-bottom: 6px;
}

.footer_section p{
  font-size: 16px;
  margin-top: -5px;
}

.rating{
  display: flex;
  font-size: 10px;
}
.rating_popular{
display: flex;
font-size: 13px;
}
.rating_popular .fas {
  color: #0065fc;
}
.rating_popular .far {
  color: rgba(128, 128, 128, 0.301);
  font-weight: 700;
  margin-bottom: 2;
}
.rating .fas {
  margin-left: 4px;
}

.rating .fas {
  color: #0065fc;
}

.rating .far {
color: rgba(128, 128, 128, 0.301);
font-weight: 700;
margin-left: 3px;
}

.fa-info {
  color: #0065fc;
  padding: 5px 9px;
  border: 1px solid gray;
  border-radius: 25px;
}
aside img {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 25px 0px 0px 25px;
  width: 135px;
  height: 120px;
  float: left;
}
.fa-chart-line {
  float: right;
  margin-right: 30px;
}

* {
  box-sizing: border-box;
}
.logo img {
  width: 25%;
  height: 100%;
}

img {
	max-width: 100%;
	height: auto;
}
.localisation
{
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 12px 0 0 12px;
  width: 40px;
  height: 41px;
  text-align: center;
  display: inline-block;
  margin-left: -12px;
}
.ville__recherche{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  
}

#hebergement {
  font-weight: bold;
  border-bottom: 3px solid #0065fc;
  text-align: center;
  padding-bottom: 15px;
  color: #0065fc;
  width: 50%;
  display: block;
}
#pseudo {
  color: black;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  width: 70%;
  height: 41px;
  margin-left: -5px;
  display: inline-block;
  padding-left: 15px;
  text-align: left;
}
.bouton {
  background-color: #0065fc;
  color: white;
  padding: 11px;
  border-style: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  float: left;
}

.menu {
  display: flex;
}
.menu > div {
  text-align: right;
  padding: 0px 0px 0px 100px;
}
a {
  color: black;
  text-decoration: none;
  padding-bottom: 15px;
}
#ancreah{
  color: #0065fc;
  font-weight: bold;
}
.menu a:hover {
  color: black;
  border-top: solid 10px #0065fc;
  padding-top: 3px;
}

.activities {
  width: 50%;
  text-align: left;
  border-bottom: 3px solid gray;
  display: block;

}

#inscription {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0065fc;
  text-decoration: none;
  font-weight: bold;
}

.annonce {
  display: block;
}

.filtres {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filtres__item{
 border: 1px solid #f2f2f2;
 display: inline-block;
 border-radius: 30px;
 margin-bottom: 15px;
 margin-right: 15px;
 margin-left: 15px;
}

.filtres__item a {
  margin-left: 15px;
  margin-right: 15px;
}
.icone{
  padding: 10px;
  background-color: #dedede;
  color: #0065fc;
  border-radius: 17px;
  margin-left: -1px;
}

.logements img {
  width: 25%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.clearfix {
  background-color: rgb(0, 162, 255);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 5px;
  color: black;
  width: 100%;
}
.clearfix img {
  width: 25%;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.grid-container {
  display: grid;
  align-content: end;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 100%;
}
.grid-container > div {
  text-align: left;
  font-size: 30px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.half {
  float: left;
  width: 25%;
  padding: 2px;
}
.third {
  float: left;
  padding: 15px;
  align-items: center;;
}
.twothird {
  float: left;
  width: 100%;
  padding: 2px;
  margin-right: 25px;
  background-color: #f2f2f2;
  border-radius: 20px;
  text-align: left;
}
.card {
  width: 100%;
  padding: 1px;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px 0;
  margin-bottom: 10px;
}

.img-container-aside {
  border-radius: 25px 0 0 25px;
  float: left;
}

.card-container {
  text-align: left;
  align-items: center;
  margin: 0;
  padding: 0px 0px 0px 15px;
}

.card-aside {
  width: 100%;
  padding: 1px;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin: 5px 0;
  margin-bottom: 10px;
}
.card-container-aside {
  width: 145px;
  padding: 15px 0px 0px 10px;
  margin-bottom: 21px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  position: relative;
}

.card-container-aside p {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: -10px;
}

.card-container p {
  margin-bottom: 5px;
  margin-top: -10px;
  font-size: 12px;
}
.afficher
{
  width: 100%;
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 25px;
}
.img-border-radius-top {
  border-radius: 25px 25px 0 0;
  align-items: center;
  width: 100%;
  height: 135px;
  object-fit: cover;
  padding: 5px;
}
}
.img-border-radius-aside {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 25px 0px 0px 25px;
  width: 135px;
  height: 120px;
  float: left;
}


/* acitivté */
.marseille{

  font-size: 20px;
  float: left;
  width: 100%;
}

.activite{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
}

.act_photo{
  background-color: white;
  border-radius: 20px;
  box-shadow : 5px  5px  5px  rgba( 0 ,  0 ,  0 ,  .2 );
  width: 343px;
  object-fit: cover;
}

.act_photo img{
border-radius: 25px 25px 0 0;
align-items: center;
width: 100%;
height: 135px;
object-fit: cover;
padding: 5px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.taille1{
  height: 423px;
  width: 100%;
  object-fit: cover;
}

.bloc:first-child{
  padding-left: 0;
}

.taille2{
  height: 185px;
  width: 100%;
  object-fit: cover;
}

.taille3{
  height: 141px;
  width: 100%;
  object-fit: cover;
}

.taille5{
  height: 141px;
  width: 100%;
  object-fit: cover;
}

.taille6{
  height: 181px;
  width: 100%;
  object-fit: cover;
}
.classement{
  margin: 14px 0 0 20px;
  height: 36px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;  
    margin:0 ;
    padding: 0;}
  h1 {
    font-size: 20px;
    margin-left: 15px;
  }
  .logo
  {
    width: 30%;
  }
  .logo img {
    width: 80%;
    height: 100%;
    margin-left: 10px;
    margin-top: 2px;
  }

  
  }
  .logocontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu {
    order: 1;
    width: 100%;
    height: 50px;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 15px;
    border-bottom: solid #f2f2f2 2px;
    margin-top: 30px;
  }
  .menu > div {
    text-align: center;
    padding: 0 0 0 0;
  }

  .menu a:hover {
    color: black;
    border-bottom: solid 3px #0065fc;
    border-top: white;
    padding-bottom: 15px;
  }
  
  #pseudo
  {
    width: 70%;
  }

  }
  .annonce {
    width: 100%;
  }
  .bouton {
    visibility: hidden;
    width: 0%;
  }
  .visible {
    visibility: visible;
    background-color: #0065fc;
    color: white;
    width: 43px;
    border-radius: 13px;
    padding-left: 15px;
    align-items: center;
    height: 40px;
    padding-top: 10px;
    display: inline-block;
    margin-left: -20px;
    
  }
  .chercher {
    width: 100%;
    padding-right: 0px;
  }
  #total {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .twothird {
    order: 2;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(255, 255, 255);
  }
  .third {
    order: 1;
    width: 100%;
    background-color: #f2f2f2;
  }

/* activité */
section 
{
  width: 100%;
  display: flex;
 flex-direction: column;
}
.activite
{
 flex-direction: column;
 width: auto;
 margin: 0px;
}
.container
{
  padding-bottom: 15px;
}
.taille1{
  height: auto;
  width: 100%;
  object-fit: cover;
}
.taille3
{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.taille5
{
  width: 100%;
  height: auto;
  object-fit: cover;
}
  footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
  }
}